@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '../../components/index.css';
@import '../../components/shared/components/components.css';


@layer components {
  .app-title-font {
    @apply text-[calc(min(100vw,var(--app-max-width))/10)];
  }
  .app-subtitle-font {
    @apply text-[calc(min(100vw,var(--app-max-width))/20)] md:text-[calc(min(100vw,var(--app-max-width))/30)];
  }
  .link-like {
    @apply app-subtitle-font mx-auto mb-6 underline cursor-pointer text-[#1859F9];
  }
}

:root {
  --app-max-width: 768px;
}

html {
  --s: 50px;
  --c: #191b22;
  --_s: calc(2*var(--s)) calc(2*var(--s));
  --_g: 35.36% 35.36% at;
  --_c: #0000 66%,#20222a 68% 70%,#0000 72%;
  background: 
    radial-gradient(var(--_g) 100% 25%,var(--_c)) var(--s) var(--s)/var(--_s), 
    radial-gradient(var(--_g) 0 75%,var(--_c)) var(--s) var(--s)/var(--_s), 
    radial-gradient(var(--_g) 100% 25%,var(--_c)) 0 0/var(--_s), 
    radial-gradient(var(--_g) 0 75%,var(--_c)) 0 0/var(--_s), 
    repeating-conic-gradient(var(--c) 0 25%,#0000 0 50%) 0 0/var(--_s), 
    radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s) var(--c);
  background-attachment: fixed;
  overflow: hidden;
}

body {
  overscroll-behavior-y: contain;
}
* {
  user-select: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @apply text-font-color;
}

/* Fucking chrome autofill*/
input:-webkit-autofill { 
  -webkit-background-clip: text;
  background-clip: text;
}

.page-container {
  @apply w-[100vw] max-w-app h-[100vh] flex flex-col items-center content-start
  mx-auto bg-gradient-radial from-slate-100 to-slate-400;
}
.modal-back-drop {
  @apply flex fixed inset-0 min-h-screen z-50 justify-center items-end md:items-center
}